.body {
    flex: 0.8;
    background: linear-gradient(
        rgb(91, 87, 115), black
    );
    color: white;
    height: 100vh;
    padding: 30px;
    overflow-y: overlay;
    padding-bottom: 70px;
}

.body::-webkit-scrollbar{
    display: none;
}

.body__info {
    display: flex;
    align-items: flex-end;
    padding: 10px;
}

.body__info > img {
    height: 20vw;
    min-height: 200px;
    max-height: 350px;
    margin: 0 20px;
    box-shadow: 0 4px 60px rgba(0, 0, 0, 0.4);
}

.body__infoText {
    flex: 1;
}

.body__infoText > h2 {
    font-size: 48px;
    margin-bottom: 10px;
}

.body__infoText > p {
    font-size: 14px;
}

.body > a {
    display: none;
}

.body__songs {
    margin: 20px -30px;
}

.body__icons {
    display: flex;
    align-items: center;
}

.body__icons > .MuiSvgIcon-root {
    margin-right: 20px;
}

.body__shuffle {
    font-size: 80px !important;
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.body__shuffle:hover {
    transition: 100ms transform ease-in;
    transform: scale(1.08);
}

@media(max-width: 720px){
    .body {
        padding-bottom: 70px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .body > a {
        display: block;
        margin: 16px auto;
        padding: 12px 32px;
        background-color: #1da054;
        border-radius: 99px;
        color: white;
        font-weight: bold;
        text-decoration: none;
        letter-spacing: 2.5px;
        font-size: 1rem;
        transition: background-color 200ms;
    }

    .body__info {
        flex-direction: column;
        align-items: center;
    }

    .body__infoText {
        margin-top: 24px;
        text-align: center;
    }

    .body__infoText > h2 {
        font-size: 2.5rem;
    }

    .body__icons {
        display: none;
    }
}